* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

body {
  margin: 0;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-family: Outfit;
}

#headerDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
  margin-left: 10%;
  margin-right: 10%;
}
#epicode-logo {
  width: 20%;
}

/* Circle Timer styling starting here */

.circle {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -2px 5px -4px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#correctPercentageText {
  font-weight: 600;
  color: white;
}
#wrongPercentageText {
  font-weight: 600;
  color: white;
}

circle {
  fill: none;
  stroke: aqua;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 33s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* Circle Timer styling ending here */

#timer {
  width: 6em;
  align-items: center;
  text-align: center;
}

.container {
  display: block;
  width: 60%;
  text-align: center;
  margin: 2% auto;
  color: rgb(232, 228, 233);
}

.questions {
  font-weight: 400;
  font-family: Outfit;
  text-align: center;
  padding-top: 1%;
}

.answer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

#question {
  font-family: Outfit;
  margin-bottom: 4rem;
  font-size: 20pt;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.choice-container {
  justify-content: center;
  width: 25rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  font-family: Inter;
  font-size: 1.2rem;
  padding: 0.2rem;
  color: aliceblue;
  box-shadow: -1px -1px 2px 1px rgba(255, 255, 255, 0.7);
  margin-left: 2rem;
  margin-bottom: 1rem;
}

p {
  line-height: 2.4;
}

.choice-container:hover {
  background-image: linear-gradient(#d20094, #900080);
  border-radius: 50px;
  text-align: center;
  font-family: Inter;
  color: aliceblue;
  padding-top: 0;
  cursor: pointer;
}

.choice-container-selected {
  background-image: linear-gradient(#d20094, #900080) !important;
}

.footerDiv {
  text-align: center;
}

.questionnum {
  width: 120px;
  height: 20px;
  color: rgb(232, 228, 233);
  background-color: transparent;
  font-family: Outfit;
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#nextbtn {
  width: 8rem;
  height: 3.5rem;
  background-color: cyan;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #00ffff;
  cursor: pointer;
  box-shadow: 1px 1px 10px cyan;
  border-color: transparent;
  margin-left: 75%;
  margin-right: auto;
  color: black;
  font-weight: 600;
}

#nextbtn:hover {
  background-color: #00ffff;
  cursor: pointer;
}

.value-container {
  position: relative;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.choice-container-selected {
  background-image: linear-gradient(#d20093, #900080) !important;
}
.no-click {
  pointer-events: none;
}
