@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&display=swap");
html {
  background: url(/images/bg.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: "Outfit", sans-serif;
}
body {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
#epicode-logo {
  max-width: 200px;
  position: fixed;
  top: 50px;
  left: 100px;
}

#html-checkbox {
  font-weight: 900;
  font-size: 3em;
  position: fixed;
  top: 270px;
  margin-inline: 650px;
}
#button-container {
  position: relative;
  top: 450px;
  margin-inline: 500px;
}
button {
  width: 330px;
  height: 70px;
  border: solid white;
  border-radius: 50px;
  background-color: #23294f;
  margin-inline: 20px;
  margin-block: 10px;
  text-align: center;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: #b50189;
}
#questions {
  position: fixed;
  bottom: 20px;
  font-size: x-large;
  margin-inline: 820px;
}
#in-html {
  font-weight: 900;
}
#timer {
  position: fixed;
  top: 50px;
  right: 100px;
  display: inline;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 20px #00ffff;
  align-items: center;
  text-align: center;
  margin-block: 1em;
}
#sec {
  font-size: 0.8em;
  margin-top: 15px;
  margin-bottom: 0;
}
#rem {
  font-size: 0.7em;
  margin-top: 0;
}
#quest-number {
  color: #b51289;
}
h3 {
  font-size: 4em;
  margin: 0;
  margin-right: 5px;
}

#create {
  font-weight: 100;
}
