body {
  margin: 0;
  background-color: black;
  max-width: 1000px;
}

#epicode-logo {
  width: 17%;
}

.container {
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  object-fit: fill;
  max-width: 89%;
  height: 75vh;
  margin-inline: auto;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

.logo {
  margin-left: 5em;
}

h2 {
  font-family: Outfit;
  font-size: 30pt;
  font-weight: bold;
  line-height: 5px;
}

.h2-300 {
  font-family: Outfit;
  font-size: 28pt;
  font-weight: 300;
  line-height: 5px;
}

h3 {
  font-family: Outfit;
  font-size: 14pt;
  font-weight: 300;
  line-height: 0;
}

.result-box {
  text-align: center;
  line-height: 0%;
}

.summary {
  display: flex;
  justify-content: space-around;
}

.correct {
  text-align: left;
  line-height: 0;
  font-family: Outfit;
  font-weight: 100;
  margin-top: 3.5em;
}

.circle {
  max-width: 25%;
  margin-top: 2em;
  text-align: center;
  font-family: Outfit;
  line-height: 1;
  aspect-ratio: 1/1;
  font-size: 12px;
  border: 30px solid #00ffff;
  border-radius: 50%;
}

.textCenterDiv {
  margin-top: 3.5em;
}

.blue-text {
  color: #00ffff;
}

.wrong {
  text-align: right;
  line-height: 0;
  font-family: Outfit;
  font-weight: 100;
  margin-top: 3.5em;
}

.rate-us {
  text-align: center;
  margin-top: 2em;
}

.small-text {
  font-family: Inter;
  font-size: 7pt;
  font-weight: 300;
  line-height: 0;
}

button {
  width: 10em;
  height: 2.6em;
  background-color: transparent;
  color: white;
  border-color: white;
  font-family: Outfit;
  font-weight: 500;
  font-size: 12pt;
}
